/data/raw
/data/processed
/data/yangjun
/data/gpt
/data/improved_CHEF_2
/data/improved_CHEF_3
/data/FEVER
/data/adversarial-FEVER
/data/symmetric-FEVER
/data/PolitiHop
/data/symmetric-PolitiHop
/data/adversarial-PolitiHop
/data/hard-PolitiHop
/data/VitC
/reference
/hfl/chinese-roberta-wwm-ext-large
/bert-base-chinese
/bert-base-uncased
/minwhoo
/models
/logs
/results
1.py
2.py
3.py
/tmp
/run_scripts
/bert
/scripts/__pycache__
/util/__pycache__
/MoritzLaurer
/.vscode
/save_models
/save_logs